body.dark-mode {
  background: #181818;
  color: #f1f1f1;
}
.header.dark-mode,
.nav-tabs.dark-mode {
  background: #222;
}
.header {
    background-color: gray;
    
}
#logo-header {
    height: 50px;
    width: 50px;
}